{import 'superGroupPermission.latte'}

{define isEdit}{/define}

{block headingSecondLink}
    <li class="breadcrumb-item">
        <a n:href="Settings:superGroupPermission">{include headingSecond}</a>
    </li>
{/block}

{block headingThirdLink}
    <li class="breadcrumb-item font-weight-bold active">
        {$entity}
    </li>
{/block}

{block content}
    {control superGroupPermissionForm}
{/block}