{if !$item->isClosed()}
    <a href="{plink Test:default do => close, id => $item->getId()}" class="btn btn-success btn-sm ajax" title="Uzavřít test">
        <i class="fa fa-check"></i>
    </a>
{/if}