<div class="card-body col-md-12 tex2jax_ignore" n:snippetArea="testCreateFormSnippet">

    {form form}

        <div class="card card-shadow border-0 mb-5">

            <div class="card-header">
                <h4>Varianty</h4>
            </div>

            <div class="card-body">

                <div class="d-flex justify-content-center mb-2 mt-2">
                    <div class="form-group col-12">
                        {label variantsCnt}
                        {input variantsCnt}
                    </div>
                </div>

            </div>

        </div>

        <div class="card card-shadow border-0 mb-5">

            <div class="card-header mb-3">
                <h4>Hlavička</h4>
            </div>

            <div class="card-body mb-3">

                <div class="form-group col-12 mb-5">

                    {label logo}
                    {input logo, class => 'hidden'}

                    {control logoDragAndDrop}

                    {snippet logoErrorSnippet}
                        {var $form = $control['form']}
                        <div n:if="$form->hasErrors()" class="mt-2">
                            <p n:foreach="$form['logo']->errors as $error"
                                    class="alert alert-danger border-0 alert-dismissible fade show" role="alert">
                                {$error}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </p>
                        </div>
                    {/snippet}

                </div>

                <div class="col-12 pt-4">

                    <div class="row d-flex justify-content-between mb-4">

                        <div class="form-group col-md-6">
                            {label groups}
                            {input groups}
                            {snippet groupsErrorSnippet}
                                {var $form = $control['form']}
                                <div n:if="$form->hasErrors()" class="mt-2">
                                    <p n:foreach="$form['groups']->errors as $error"
                                            class="alert alert-danger border-0 alert-dismissible fade show"
                                            role="alert">
                                        {$error}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </p>
                                </div>
                            {/snippet}
                        </div>

                        <div class="form-group col-md-6">
                            {label testTerm}
                            {input testTerm}
                            {snippet testTermErrorSnippet}
                                {var $form = $control['form']}
                                <div n:if="$form->hasErrors()" class="mt-2">
                                    <p n:foreach="$form['testTerm']->errors as $error"
                                            class="alert alert-danger border-0 alert-dismissible fade show"
                                            role="alert">
                                        {$error}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </p>
                                </div>
                            {/snippet}
                        </div>

                    </div>

                    <div class="row d-flex justify-content-between">

                        <div class="form-group col-md-6 md-3">
                            {label schoolYear}
                            {input schoolYear}
                            {snippet schoolYearErrorSnippet}
                                {var $form = $control['form']}
                                <div n:if="$form->hasErrors()" class="mt-2">
                                    <p n:foreach="$form['schoolYear']->errors as $error"
                                            class="alert alert-danger border-0 alert-dismissible fade show"
                                            role="alert">
                                        {$error}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </p>
                                </div>
                            {/snippet}
                        </div>

                        <div class="form-group col-md-6 md-3">
                            {label testNumber}
                            {input testNumber}
                            {snippet testNumberErrorSnippet}
                                {var $form = $control['form']}
                                <div n:if="$form->hasErrors()" class="mt-2">
                                    <p n:foreach="$form['testNumber']->errors as $error"
                                            class="alert alert-danger border-0 alert-dismissible fade show"
                                            role="alert">
                                        {$error}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </p>
                                </div>
                            {/snippet}
                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div class="card card-shadow border-0 mb-4">

            <h4 class="card-header">Úvod</h4>

            <div class="card-body mb-3">

                <div class="form-group mt-3 mb-3">
                    {label introductionText}
                    {input introductionText}
                </div>

            </div>

        </div>

        {for $i = 0; $i < $maxProblems; $i++}

            <div n:class="$i ? hidden" id="problem-wrapper-{$i}">

                <div class="card card-shadow border-0 mb-4">

                    <h4 class="card-header card-header-toggle p-0 m-0">
                        <button type="button"
                                class="d-flex justify-content-between align-items-center col-12 btn btn-card-header-toggle"
                                data-toggle="collapse"
                                data-target="#problem-card-body-{$i}"
                                aria-expanded="true"
                                aria-controls="#problem-card-body-{$i}"
                        >
                            Úloha č. {$i+1}
                            <i class="fas fa-chevron-down d-none"></i>
                            <i class="fas fa-chevron-up"></i>
                        </button>
                    </h4>

                    <div class="card-body show" id="problem-card-body-{$i}">

                        <div>

                            <div class="form-group mt-3 mb-3">
                                {label 'isTemplate' . $i}
                                {input 'isTemplate' . $i}
                            </div>

                            <div class="form-group mt-3 mb-3">
                                {label 'problemType' . $i}
                                {input 'problemType' . $i}
                            </div>

                            <div class="form-group mt-3 mb-3">
                                {label 'difficulty' . $i}
                                {input 'difficulty' . $i}
                            </div>

                            <div class="form-group mt-3 mb-3">
                                {label "subTheme" . $i}
                                {input "subTheme" . $i}
                            </div>

                            {foreach $problemConditionTypes as $problemConditionType}
                                <div class="form-group mt-3 mb-3 hidden condition-type-id"
                                     id="condition-type-id-{$problemConditionType->getId()}-{$i}">
                                    {label 'conditionType' . $problemConditionType->getId() . $i}
                                    {input 'conditionType' . $problemConditionType->getId() . $i}
                                </div>
                            {/foreach}

                            <div n:snippet="snippetProblem$i" class="form-group mt-3 mb-3">
                                {label 'problem' . $i}
                                {input 'problem' . $i}
                                {control problemStack$i}
                                {control paginator$i, 'paginatorId' => $i}
                            </div>

                            <div class="d-flex justify-content-center form-group custom-control custom-checkbox">
                                <input n:name="newPage$i" type="checkbox" class="custom-control-input"
                                                          id="new-page-{$i}">
                                <label n:name="newPage$i" for="new-page-{$i}" class="custom-control-label"/>
                            </div>

                        </div>

                    </div>

                </div>

                <button type="button" class="btn col-12 btn-success btn-add mb-2" id="btn-add-{$i}"
                        data-problem-id="{$i}">
                    <i class="fas fa-plus" data-problem-id="{$i}"></i>
                </button>

                <button type="button" class="btn col-12 btn-danger btn-remove mb-4" id="btn-remove-{$i}"
                        data-problem-id="{$i}">
                    <i class="fas fa-minus" data-problem-id="{$i}"></i>
                </button>

            </div>

        {/for}

        {snippet flashesSnippet}
            <div n:foreach="$flashes as $flash"
                    class="col-12 flash alert alert-{$flash->type} alert-dismissible fade show border-0">
                {$flash->message}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {/snippet}

        <div class="form-group">
            {input submit}
        </div>

    {/form}

    <a href="{plink :Teacher:Test:default}" class="btn btn-secondary col-12">Zpět</a>

</div>