{import 'default.latte'}

{define isEdit}{/define}

{block headingFirstLink}
    <li class="breadcrumb-item">
        <a n:href="Test:default">
            {include headingFirst}
        </a>
    </li>
{/block}

{block headingSecond}
    Nový test
{/block}

{block headingSecondLink}
    <li class="breadcrumb-item font-weight-bold active">
        {include headingSecond}
    </li>
{/block}

{block content}

    <div class="card-header d-flex justify-content-between">
        <h1 class="col-6 pl-0 mb-0 font-weight-bold card-heading">
            {include icon}{include headingSecond}
        </h1>
        <a n:href="default" class="btn btn-secondary btn-sm" title="Zpět na přehled">Zpět</a>
    </div>

    {control testCreateForm}

{/block}