\documentclass[czech, a4paper, 12pt]{{(exam)}}

\usepackage[czech]{{(babel)}}
\usepackage[utf8]{{(inputenc)}}
\usepackage{{(graphicx)}}
\usepackage{{(subfigure)}}
\usepackage{{(latexsym)}}

\setlength{{('\topmargin')}}{{('-2cm')}}
\setlength{{('\textwidth')}}{{('19cm')}}
\setlength{{('\textheight')}}{{('25cm')}}
\setlength{{('\evensidemargin')}}{{('-2cm')}}
\setlength{{('\oddsidemargin')}}{{('-2cm')}}

\pagestyle{{(empty)}}

{dump $testVariant}

\begin{{(document)}}
\begin{{(minipage)}}{{('9cm')}}
{if $test->getLogo() !== null}
\includegraphics[width=8cm]{{('./file' . $test->getLogo()->getExtension())}}
{/if}
\end{{(minipage)}}
\begin{{(minipage)}}{{('5cm')}}
\begin{{(tabbing)}}
{$test->getSchoolYear()}, {$test->getTerm()}, test {$test->getTestNumber()}, {$testVariant}\\[.1cm]
$\Box$ řádný, \hspace{{('.2cm')}} $\Box$ náhradní, \hspace{{('.2cm')}} $\Box$ opravný. \\[.1cm]
{dump $test->getGroups()->getValues()}
Skupina:
{foreach $test->getGroups()->getValues() as $group}
$\Box$ {$group->getLabel()}, \hspace{{('.2cm')}} {if $group->getId() !== $test->getGroups()->last()->getProperty()->getId()} \\[.1cm] {/if}
{/foreach}
Jméno: \hspace{{('2cm')}} \= \rule{{('4.7cm')}}{{('.1mm')}} \\[.1cm]
Datum: \hspace{{('2cm')}} \= \rule{{('4.7cm')}}{{('.1mm')}} \\[.1cm]
Počet papírů:\> zadání + \rule{{('1.2cm')}}{{('.1mm')}}
\end{{(tabbing)}}
\end{{(minipage)}}

\vspace{{('.3cm')}}
\begin{{('center')}}
\rule{{('17cm')}}{{('.7mm')}}
\end{{('center')}}
\vspace{{('.3cm')}}

{$test->getIntroductionText()}

\begin{{(enumerate)}}

{foreach $testVariant->getProblemFinalAssociations()->getValues() as $key => $problemFinalAssociation}

    \item {$problemFinalAssociation->getProblemFinal()->getTextBefore()}
    {$problemFinalAssociation->getProblemFinal()->getBody()}
    {$problemFinalAssociation->getProblemFinal()->getTextAfter()}

    {if $problemFinalAssociation->isNextPage()}
        \newpage
    {/if}

{/foreach}

\end{{(enumerate)}}

\end{{(document)}}