{import 'default.latte'}

{block headingFirstLink}
    <li class="breadcrumb-item">
        <a n:href="Test:default">
            {include headingFirst}
        </a>
    </li>
{/block}

{block headingSecond}
    Statistika: Test {$testId}
{/block}

{block headingSecondLink}
    <li class="breadcrumb-item font-weight-bold active">
        {include headingSecond}
    </li>
{/block}

{block content}

    {form statisticsForm}

    <div class="card-header d-flex justify-content-between">
        <h1 class="col-6 pl-0 mb-0 font-weight-bold card-heading">
            {include icon}{include headingSecond}
        </h1>
        <div>
            <button n:name="submit" id="submit-btn" class="btn btn-primary btn-sm">Uložit</button>
            <a n:href="default" class="btn btn-secondary btn-sm" title="Zpět na přehled">Zpět</a>
        </div>
    </div>

    <div class="card-body col-12">

        {var $i = 0}

        {foreach $problems as $problem}

            <div class="card card-shadow border-light mb-5">

                <div class="card-body">

                    <div class="form-group">
                        {label problem_final_id_disabled_$i}
                        {input problem_final_id_disabled_$i}
                    </div>

                    <div class="form-group">
                        {label problem_prototype_id_disabled_$i}
                        {input problem_prototype_id_disabled_$i}
                    </div>

                    <p class="text-center mt-5 mb-5">{$problem->structure}</p>

                    <div class="form-group">
                        {label success_rate_$i}
                        {input success_rate_$i}
                    </div>

                </div>

            </div>

            {var $i += 1}

        {/foreach}

    </div>

    {/form}

{/block}