{layout '@layout.latte'}

{block title}405 | EDOMP{/block}

{block content}
    <h1>
        <i class="fa fa-exclamation-triangle mr-2"></i> 405
        <span class="d-block mt-2">Metoda požadavku není pro tuto URL povolena.</span>
    </h1>
{/block}