{layout '@layout.latte'}

{block title}410 | EDOMP{/block}

{block content}
    <h1>
        <i class="fa fa-exclamation-triangle mr-2"></i> 410
        <span class="d-block mt-2">Hledaná stránka byla odstraněna z webu.</span>
    </h1>
{/block}