{layout '@layout.latte'}

{block title}4xx | EDOMP{/block}

{block content}
    <h1>
        <i class="fa fa-exclamation-triangle mr-2"></i> Oops...
        <span class="d-block mt-2">Server obdržel požadavek, který nedovedl zpracovat.</span>
    </h1>
{/block}