{if $item->isClosed()}
    <a href="{plink Test:default do => downloadSource, id => $item->getId()}" class="btn btn-primary btn-sm" title="Stáhnout archiv testu. Archiv obsahuje jednotlivé varianty zadání testu a soubor přiřazeného loga.">
        <i class="fa fa-download"></i>
    </a>
{/if}