{layout '@layout.latte'}

{block title}403 | EDOMP{/block}

{block content}
    <h1>
        <i class="fa fa-exclamation-triangle mr-2"></i> 403
        <span class="d-block mt-2">Přístup zamítnut</span>
    </h1>
{/block}