{layout '@layout.latte'}

{block title}404 | EDOMP{/block}

{block content}
    <h1>
        <i class="fa fa-exclamation-triangle mr-2"></i> 404
        <span class="d-block mt-2">Stránka nenalezena</span>
    </h1>
{/block}