<!DOCTYPE html>
<html lang="cs">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{block title}{/block}</title>
    <link rel="stylesheet" type="text/css" href="{webpack vendors.css}">
    <link rel="stylesheet" type="text/css" href="{webpack front.css}">
</head>

<body>
    <main class="d-flex justify-content-center align-items-center vh-100 bg-grey-light">
        {block content}{/block}
    </main>
</body>

</html>