{block sign}

    <div class="col-sm-12 col-md-8 col-lg-4 centered">

        <div class="text-center mb-5" id="page-header">
            <p id="title">EDOMP</p>
        </div>

        <div class="card card-shadow border-light">
            <div class="card-header">
                <h1 class="card-heading font-weight-bold">Přihlášení: Administrace</h1>
            </div>
            <div class="card-body">
                {control signForm}
            </div>
        </div>
    </div>
{/block}