{snippetArea successRateSnippetArea}

    {form form}

        <div class="card-header d-flex justify-content-between">
            <h1 class="col-6 pl-0 mb-0 font-weight-bold card-heading">
                <i class="fas fa-file-alt mr-3"></i>Statistika: Test {$test->getId()}
            </h1>
            <div>
                <button n:name="submit" id="submit-btn" class="btn btn-primary btn-sm">Uložit</button>
                <a href={plink :Admin:Test:default} class="btn btn-secondary btn-sm" title="Zpět na přehled">Zpět</a>
            </div>
        </div>

        <div class="card-body col-12">

            {snippet flashesSnippet}
                <div n:foreach="$flashes as $flash" class="mb-4 flash alert alert-{$flash->type} alert-dismissible fade show border-0" role="alert">
                    {$flash->message}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {/snippet}

            {var $i = 0}

            {foreach $test->getTestVariants()->getValues() as $variant}

                <div class="card card-shadow border-light mb-5">

                    <div class="card-header">
                        <h2>Varianta {$variant->getLabel()}</h2>
                    </div>

                    <div class="card-body">

                        {var $j = 0}

                        {foreach $variant->getProblemFinalAssociations()->getValues() as $problemFinalAssociation}

                            <div class="card card-shadow border-light mb-5">

                                <div class="card-body">

                                    <div class="form-group">
                                        {label problem_final_id_disabled_{$i}_$j}
                                        {input problem_final_id_disabled_{$i}_$j}
                                    </div>

                                    <div class="form-group">
                                        {label problem_template_id_disabled_{$i}_$j}
                                        {input problem_template_id_disabled_{$i}_$j}
                                    </div>

                                    <p class="text-center mt-5 mb-5">{$problemFinalAssociation->getProblemFinal()->getBody()}</p>

                                    <div class="form-group">
                                        {label success_rate_{$i}_$j}
                                        {input success_rate_{$i}_$j}
                                    </div>

                                    {snippet successRate{$i}{$j}ErrorSnippet}
                                        <div n:if="$control['form']->hasErrors()" class="mt-2">
                                            <p n:foreach="$control['form']['success_rate_' . $i . '_' . $j]->errors as $error"
                                                    class="alert alert-danger border-0 alert-dismissible fade show" role="alert">
                                                {$error}
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </p>
                                        </div>
                                    {/snippet}

                                </div>

                            </div>

                            {var $j += 1}

                        {/foreach}

                    </div>

                </div>

                {var $i += 1}

            {/foreach}

            {if count($test->getTestVariants()->getValues()) > 1}
                <button n:name="submit" id="submit-btn" class="btn btn-primary col-12 mb-3">Uložit</button>
                <a href={plink :Admin:Test:default} class="btn btn-secondary col-12 mb-4" title="Zpět na přehled">Zpět</a>
            {/if}

        </div>

    {/form}

{/snippetArea}
