parameters:
    imagesPath: 'resources/images/'
    testMaxProblems: 20

extensions:

    # Vendor extensions
    console: Kdyby\Console\DI\ConsoleExtension
    events: Kdyby\Events\DI\EventsExtension
    annotations: Kdyby\Annotations\DI\AnnotationsExtension
    translation: Kdyby\Translation\DI\TranslationExtension
    validator: Kdyby\Validator\DI\ValidatorExtension
    doctrine: Kdyby\Doctrine\DI\OrmExtension
    visualPaginator: IPub\VisualPaginator\DI\VisualPaginatorExtension
    webpack: Oops\WebpackNetteAdapter\DI\WebpackExtension(%debugMode%)
    ajaxHistory: VojtechDobes\NetteAjax\HistoryExtension

    # Own extensions
    coreModule: App\CoreModule\DI\CoreModuleExtension
    teacherModule: App\TeacherModule\DI\TeacherModuleExtension
    studentModule: App\StudentModule\DI\StudentModuleExtension

application:
	errorPresenter: Core:Error
	mapping:
		*: App\*Module\Presenters\*Presenter

coreModule:
    loginURL: %loginURL%

teacherModule:
    newtonApiHost: %newtonApiHost%

session:
	expiration: 14 days

# Set tracy max lenght and depth for dumps
tracy:
    maxLen: 2000
    maxDepth: 5

services:
	router: App\Router\RouterFactory::createRouter

	# Factories
	#	factory.form.problem.filter: App\StudentModule\Components\Forms\ProblemFilterForm\IProblemFilterFormFactory