parameters:
    newtonApiHost: localhost:3000/

doctrine:
	user: root
	password:
	dbname: edomp
	metadata:
		App: %appDir%

webpack:
    build:
        directory: %wwwDir%/assets/dist
        publicPath: /assets/dist/
    manifest:
        name: manifest.json
    devServer:
        url: http://localhost:8080