parameters:
    newtonApiHost: localhost:3000/
    studentLoginUrl: http://mathematicalproblems.localhost/sign/in
    teacherLoginUrl: http://mathematicalproblems.localhost/teacher/sign/in

webpack:
	build:
		directory: %wwwDir%/assets/dist
		publicPath: /assets/dist
	manifest:
	    name: manifest.json
	devServer:
	    url: http://localhost:8080

#webpack:
#	build:
#		directory: %wwwDir%/assets/dist
#		publicPath: /assets/dist/
#	manifest:
#	    name: manifest.json
#	devServer:
#	    enabled: false

doctrine:
	user: root
	password:
	dbname: edomp
	metadata:
		App: %appDir%

mail:
    smtp: true
    port: 1025
    host: localhost
    username: test@local