parameters:

doctrine:
	user: root
	password:
	dbname: edomp
	metadata:
		App: %appDir%

# Endora
#doctrine:
#    user: wiedzmin
#    password: rok!1929.PLZ
#    host: innodb.endora.cz
#    dbname: edomp
#    metadata:
#        App: %appDir%
