parameters:
    newtonApiHost: https://edomp-newton-api.herokuapp.com/
    loginURL: http://www.edomp.4fan.cz/sign/in

# Endora
doctrine:
    user: wiedzmin
    password: rok!1929.PLZ
    host: innodb.endora.cz
    dbname: edomp
    metadata:
        App: %appDir%

webpack:
	build:
		directory: %wwwDir%/assets/dist
		publicPath: /assets/dist/
	manifest:
	    name: manifest.json
	devServer:
	    enabled: false

mail:
    smtp: true
    host: smtp.endora.cz
    secure: ssl
    port: 465
    username: edomp@wiedzmin.4fan.cz
    password: 6ysaz7dt