parameters:
    imagesPath: 'assets/images/'

extensions:
    console: Kdyby\Console\DI\ConsoleExtension
    events: Kdyby\Events\DI\EventsExtension
    annotations: Kdyby\Annotations\DI\AnnotationsExtension
    doctrine: Kdyby\Doctrine\DI\OrmExtension
    assetMacro: Webrouse\AssetMacro\DI\Extension
    visualPaginator: IPub\VisualPaginator\DI\VisualPaginatorExtension

application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

session:
	expiration: 14 days

services:
	router: App\RouterFactory::createRouter

	#Repositories
	repository.problem:
	    class: App\Model\Repository\ProblemRepository
	    tags:
	       doctrine.repositoryEntity: App\Model\Entity\Problem

	repository.lineareq:
	    class: App\Model\Repository\LinearEqRepository
	    tags:
	        doctrine.repositoryEntity: App\Model\Entity\LinearEq

	repository.difficulty:
	    class: App\Model\Repository\DifficultyRepository
	    tags:
	        doctrine.repositoryEntity: App\Model\Entity\Difficulty

	repository.subcategory:
	    class: App\Model\Repository\SubCategoryRepository
	    tags:
	        doctrine.repositoryEntity: App\Model\Entity\SubCategory

	repository.category:
	    class: App\Model\Repository\CategoryRepository
	    tags:
	        doctrine.repositoryEntity: App\Model\Entity\Category

	#Functionalities
	functionality.category: App\Model\Functionality\CategoryFunctionality
	functionality.subcategory: App\Model\Functionality\SubCategoryFunctionality

	#Factories
	factory.grid.category: App\Components\DataGrids\CategoryGridFactory
	factory.form.category: App\Components\Forms\CategoryFormFactory
	factory.grid.subcategory: App\Components\DataGrids\SubCategoryGridFactory
	factory.form.subcategory: App\Components\Forms\SubCategoryFormFactory

	#Services
	service.validation: App\Service\ValidationService

includes: