parameters:
    newtonApiHost: https://edomp-newton-api.herokuapp.com/

# Endora
doctrine:
    user: wiedzmin
    password: rok!1929.PLZ
    host: innodb.endora.cz
    dbname: edomp
    metadata:
        App: %appDir%

webpack:
	build:
		directory: %wwwDir%/assets/dist
		publicPath: /assets/dist/
	manifest:
	    name: manifest.json
	devServer:
	    enabled: false