parameters:
    imagesPath: 'assets/images/'

extensions:
    console: Kdyby\Console\DI\ConsoleExtension
    events: Kdyby\Events\DI\EventsExtension
    annotations: Kdyby\Annotations\DI\AnnotationsExtension
    doctrine: Kdyby\Doctrine\DI\OrmExtension
    assetMacro: Webrouse\AssetMacro\DI\Extension
    visualPaginator: IPub\VisualPaginator\DI\VisualPaginatorExtension

application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

session:
	expiration: 14 days

services:
	router: App\RouterFactory::createRouter

	#Repositories
	repository.problem:
	    class: App\Model\Repository\ProblemRepository
	    tags:
	       doctrine.repositoryEntity: App\Model\Entity\Problem

	repository.problemtemplate:
	    class: App\Model\Repository\ProblemTemplateRepository
	    tags:
	        doctrine.repositoryEntity: App\Model\Entity\ProblemTemplate

	repository.problemtype:
	    class: App\Model\Repository\ProblemTypeRepository
	    tags:
	        doctrine.repositoryEntity: App\Model\Entity\ProblemType

	repository.lineareq:
	    class: App\Model\Repository\LinearEqRepository
	    tags:
	        doctrine.repositoryEntity: App\Model\Entity\LinearEq

	repository.difficulty:
	    class: App\Model\Repository\DifficultyRepository
	    tags:
	        doctrine.repositoryEntity: App\Model\Entity\Difficulty

	repository.subcategory:
	    class: App\Model\Repository\SubCategoryRepository
	    tags:
	        doctrine.repositoryEntity: App\Model\Entity\SubCategory

	repository.category:
	    class: App\Model\Repository\CategoryRepository
	    tags:
	        doctrine.repositoryEntity: App\Model\Entity\Category

	repository.condition:
	    class: App\Model\Repository\ProblemConditionRepository
	    tags:
	        doctrine.repositoryEntity: App\Model\Entity\ProblemCondition

	repository.template.equation.linear:
	    class: App\Model\Repository\LinearEqTemplRepository
	    tags:
	        doctrine.repositoryEntity: App\Model\Entity\LinearEqTempl

	repository.template.equation.quadratic:
	    class: App\Model\Repository\QuadraticEqTemplRepository
	    tags:
	        doctrine.repositoryEntity: App\Model\Entity\QuadraticEqTempl

	repository.template.sequence.arithmetic:
	    class: App\Model\Repository\ArithmeticSeqTemplRepository
	    tags:
	        doctrine.repositoryEntity: App\Model\Entity\ArithmeticSeqTempl

	repository.template.sequence.geometric:
	    class: App\Model\Repository\GeometricSeqTemplRepository
	    tags:
	        doctrine.repositoryEntity: App\Model\Entity\GeometricSeqTempl

	repository.supergroup:
	    class: App\Model\Repository\SuperGroupRepository
	    tags:
	        doctrine.repositoryEntity: App\Model\Entity\SuperGroup

	repository.group:
	    class: App\Model\Repository\GroupRepository
	    tags:
	        doctrine.repositoryEntity: App\Model\Entity\Group

	repository.logo:
	    class: App\Model\Repository\LogoRepository
	    tags:
	        doctrine.repositoryEntity: App\Model\Entity\Logo

	repository.template.jsondata:
	    class: App\Model\Repository\TemplateJsonDataRepository
	    tags:
	        doctrine.repositoryEntity: App\Model\Entity\TemplateJsonData

	#Functionalities
	functionality.problem: App\Model\Functionality\ProblemFunctionality
	functionality.category: App\Model\Functionality\CategoryFunctionality
	functionality.subcategory: App\Model\Functionality\SubCategoryFunctionality
	functionality.template.equation.linear: App\Model\Functionality\LinearEqTemplFunctionality
	functionality.template.equation.quadratic: App\Model\Functionality\QuadraticEqTemplFunctionality
	functionality.template.sequence.arithmetic: App\Model\Functionality\ArithmeticSeqTemplFunctionality
	functionality.template.sequence.geometric: App\Model\Functionality\GeometricSeqTemplFunctionality
	functionality.supergroup: App\Model\Functionality\SuperGroupFunctionality
	functionality.group: App\Model\Functionality\GroupFunctionality
	functionality.logo: App\Model\Functionality\LogoFunctionality
	functionality.template.jsondata: App\Model\Functionality\TemplateJsonDataFunctionality

	#Factories
	factory.grid.category: App\Components\DataGrids\CategoryGridFactory
	factory.form.category: App\Components\Forms\CategoryFormFactory
	factory.grid.subcategory: App\Components\DataGrids\SubCategoryGridFactory
	factory.form.subcategory: App\Components\Forms\SubCategoryFormFactory
	factory.grid.problem: App\Components\DataGrids\ProblemGridFactory
	factory.form.problem: App\Components\Forms\ProblemFormFactory
	factory.grid.template: App\Components\DataGrids\TemplateGridFactory
	factory.form.template: App\Components\Forms\TemplateFormFactory
	factory.grid.logo: App\Components\DataGrids\LogoGridFactory
	factory.form.logo: App\Components\Forms\LogoFormFactory
	factory.grid.supergroup: App\Components\DataGrids\SuperGroupGridFactory
	factory.form.supergroup: App\Components\Forms\SuperGroupFormFactory
	factory.grid.group: App\Components\DataGrids\GroupGridFactory
	factory.form.group: App\Components\Forms\GroupFormFactory

	#Services
	service.newtopapi.client: App\Service\NewtonApiClient
	service.validation: App\Service\ValidationService
	service.math: App\Service\MathService
	service.generator: App\Service\GeneratorService
	service.condition.matching: App\Service\ConditionMatchingService
	service.file: App\Service\FileService(%logosDir%, %logosTmpDir%)

	#Helpers
	helper.const: App\Helpers\ConstHelper
	helper.strings: App\Helpers\StringsHelper
	helper.latex: App\Helpers\LatexHelper

includes: