<a class="btn btn-primary btn-sm edit-button" title="Upravit"
   href="{plink Problem:edit
            problem_id => $item->problem_id,
            init => true
        }">
    <i class="fas fa-edit"></i>
</a>