{snippet formSnippet}
    {form form}

        <div class="card-header edit-card-header d-lg-flex justify-content-between">
            <h1 class="mb-0 font-weight-bold card-heading">
                <i class="fas fa-cog mr-3"></i>Nastavení šablony testů
            </h1>
            <div class="d-inline">
                <a class="btn btn-info btn-sm ajax"
                   href="{plink :Admin:Settings:testTemplate, do => resetTestTemplate}">Obnovit výchozí šablonu</a>
                <button type="button" class="ace-editor-submit btn btn-primary btn-sm">Uložit</button>
                <a href="{plink :Admin:Settings:default}" class="btn btn-secondary btn-sm">Zpět</a>
            </div>
        </div>

        <div class="card-body ace-editor-card">

            <div class="d-flex align-items-center alert alert-warning border-0" role="alert">
                <div>
                    <i class="fa fa-2x fa-exclamation-triangle mr-4"></i>
                </div>
                <div>
                    Vstupní LaTeX šablony není validován! <br>
                    V případě chyby v šabloně lze obnovit její výchozí stav.
                </div>
            </div>

            {snippet flashesSnippet}
                <div n:foreach="$flashes as $flash" class="flash alert alert-{$flash->type} border-0 alert-dismissible fade show" role="alert">
                    {$flash->message}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {/snippet}

            <div class="form-group">

                {snippet templateContentErrorSnippet}
                    {var $form = $control['form']}
                    <div n:if="$form->hasErrors()">
                        <p n:foreach="$form['templateContent']->errors as $error"
                                class="alert alert-danger border-0 alert-dismissible fade show" role="alert">
                            {$error}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </p>
                    </div>
                {/snippet}

                {label templateContent, class => 'mb-3'}
                {input templateContent}

                <div class="ace-code-editor-wrapper">
                    <div id="editor">{$templateContent}</div>
                </div>

            </div>


        </div>

    {/form}
{/snippet}