{form form}

    <div class="card-header edit-card-header d-lg-flex justify-content-between">
        <h1 class="mb-0 font-weight-bold card-heading">
            <i class="fas fa-file mr-3"></i>Šablona {$entity->getId()}
        </h1>
        <div class="d-inline">
            <button n:name="submit" id="submit-btn" class="btn btn-primary btn-sm">Uložit</button>
            <a href="{plink :Admin:QuadraticEqTemplate:default}" class="btn btn-secondary btn-sm">Zpět</a>
        </div>
    </div>

    <div class="card-body">

        {snippet submitErrorSnippet}
            {var $form = $control['form']}
            <div n:if="$form->hasErrors()" class="mt-1">
                <p n:foreach="$form['submit']->errors as $error" class="alert alert-danger border-0 alert-dismissible fade show" role="alert">
                    {$error}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </p>
            </div>
        {/snippet}

        <div class="form-group">
            {label id}
            {input id, "id" => "problem-id"}
        </div>

        <div class="form-group">
            {label type}
            {input type}
            {snippet typeErrorSnippet}
                {var $form = $control['form']}
                <div n:if="$form->hasErrors()" class="mt-1">
                    <p n:foreach="$form['type']->errors as $error" class="alert alert-danger border-0 alert-dismissible fade show" role="alert">
                        {$error}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </p>
                </div>
            {/snippet}
        </div>

        <div class="form-group">
            {label subCategory}
            {input subCategory}
            {snippet subCategoryErrorSnippet}
                {var $form = $control['form']}
                <div n:if="$form->hasErrors()" class="mt-2">
                    <p n:foreach="$form['subCategory']->errors as $error" class="alert alert-danger border-0 alert-dismissible fade show" role="alert">
                        {$error}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </p>
                </div>
            {/snippet}
        </div>

        <div class="form-group">
            {label textBefore}
            {input textBefore}
        </div>

        <div class="form-group">
            {label body}
            {input body, 'data-edit' => true}
            {snippet bodyErrorSnippet}
                {var $form = $control['form']}
                <div n:if="$form->hasErrors()" class="mt-2">
                    <p n:foreach="$form['body']->errors as $error" class="alert alert-danger border-0 alert-dismissible fade show" role="alert">
                        {$error}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </p>
                </div>
            {/snippet}
        </div>

        <div class="form-group">
            {label variable}
            {input variable}
            {snippet variableErrorSnippet}
                {var $form = $control['form']}
                <div n:if="$form->hasErrors()" class="mt-2">
                    <p n:foreach="$form['variable']->errors as $error" class="alert alert-danger border-0 alert-dismissible fade show" role="alert">
                        {$error}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </p>
                </div>
            {/snippet}
        </div>

        <div class="form-group">
            {label textAfter}
            {input textAfter}
        </div>

        <div class="form-group">
            {label difficulty}
            {input difficulty}
            {snippet difficultyErrorSnippet}
                {var $form = $control['form']}
                <div n:if="$form->hasErrors()" class="mt-2">
                    <p n:foreach="$form['difficulty']->errors as $error" class="alert alert-danger border-0 alert-dismissible fade show" role="alert">
                        {$error}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </p>
                </div>
            {/snippet}
        </div>

            <div class="form-group" id="type-wrapper">

                {foreach $conditionTypes as $conditionType}
                    {var $id = $conditionType->getId()}
                    <div class="form-group cond-wrapper" id="cond-wrapper-{$id}">
                        {label condition_$id}
                        {input condition_$id, data-key => $id}
                        <div class="text-right mt-3 mb-3"
                             id="condition-validation-{$id}">
                            <button type="button" class="btn btn-primary condition-validation-btn"
                                    id="condition-validation-btn-{$id}"
                                    data-key="{$id}" data-edit="false">
                                Ověřit splnitelnost
                            </button>
                        </div>
                    </div>
                {/foreach}

            </div>

        {snippet conditionsErrorSnippet}
            {var $form = $control['form']}
            <div n:if="$form->hasErrors()" class="mt-2">
                {foreach $conditionTypes as $conditionType}
                    <p n:foreach="$form['condition_' . $conditionType->getId()]->errors as $error" class="alert alert-danger border-0 alert-dismissible fade show" role="alert">
                        {$error}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </p>
                {/foreach}
            </div>
        {/snippet}

        <div n:snippet="flashesSnippet">
            <div n:foreach="$flashes as $flash" class="flash alert alert-{$flash->type} border-0 alert-dismissible fade show" role="alert">
            {$flash->message}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

    </div>

{/form}