<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title n:snippet="titleSnippet">
        {ifset titleFirst}
            {include titleFirst|stripHtml}
            {ifset titleSecond}
                - {include titleSecond}
            {/ifset} |
        {/ifset}
        EDOMP
    </title>
    <link rel="stylesheet" type="text/css" href="{webpack vendors.css}">
    <link rel="stylesheet" type="text/css" href="{webpack student.css}">
</head>

<body class="bg-grey-light">

{if $user->isLoggedIn()}
    {control sideBar}
    {control headerBar}
{/if}

<main id="content" class="mt-2 pb-5">

    {if $user->isLoggedIn()}

        {if !$presenter->isLinkCurrent('Homepage:*')}
            <nav class="ml-4 mr-4 mt-3" id="breadcrumb-navigation" aria-label="breadcrumb">
                <ol class="mb-0 pt-2 pb-2 breadcrumb bg-light">
                    <li class="breadcrumb-item"><a n:href="Homepage:default"><i class="fas fa-home"></i></a></li>
                    {ifset headingFirstLink}
                        {include headingFirstLink}
                    {/ifset}
                    {ifset headingSecondLink}
                        {include headingSecondLink}
                    {/ifset}
                    {ifset headingThirdLink}
                        {include headingThirdLink}
                    {/ifset}
                </ol>
            </nav>
        {/if}

        <div class="ml-4 mr-4 mt-4">
            <div class="card card-shadow border-0">
                {ifset content}
                    {include content}
                {/ifset}
            </div>
        </div>

        {ifset create}
            {include create}
        {/ifset}

    {else}

        {ifset sign}
            {include sign}
        {/ifset}

    {/if}

</main>

<script src="{webpack vendors.js}"></script>
<script src="{webpack student.js}"></script>
{if $presenter->getName() === 'Student:Theme'}
    <script src="{webpack netteAjaxHistory.js}"></script>
{/if}

<!-- MathJax Library -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML'></script>

{snippet mathJaxRender}
    <!-- MathJax Config and Renderer function -->
    <script type="text/javascript">
        MathJax.Hub.Queue(["Typeset", MathJax.Hub]);
        MathJax.Hub.Config({
            messageStyle: "none",
            ignoreClass: "tex2jax_ignore",
        });
    </script>
{/snippet}

</body>
</html>