{form form}

    <div class="card-header edit-card-header d-lg-flex justify-content-between">
        <h1 class="mb-0 font-weight-bold card-heading">
            <i class="fas fa-calculator mr-3"></i>Příklad {$id}
        </h1>
        <div class="d-inline">
            <button n:name="submit" id="submit-btn" class="btn btn-primary btn-sm">Uložit</button>
            <a href={plink :Admin:ProblemFinal:default} class="btn btn-secondary btn-sm">Zpět</a>
        </div>
    </div>

    <div class="card-body">

        <div class="form-group">
            {label id}
            {input id}
        </div>

        <div class="form-group">
            {label problemFinalType}
            {input problemFinalType "data-final" => "true"}
            {snippet problemFinalTypeErrorSnippet}
                {var $form = $control['form']}
                <div n:if="$form->hasErrors()" class="mt-2">
                    <p n:foreach="$form['problemFinalType']->errors as $error" class="alert alert-danger border-0">
                        {$error}
                    </p>
                </div>
            {/snippet}
        </div>

        <div class="form-group">
            {label subCategory}
            {input subCategory}
            {snippet subCategoryErrorSnippet}
                {var $form = $control['form']}
                <div n:if="$form->hasErrors()" class="mt-2">
                    <p n:foreach="$form['subCategory']->errors as $error" class="alert alert-danger border-0">
                        {$error}
                    </p>
                </div>
            {/snippet}
        </div>

        <div class="form-group">
            {label textBefore}
            {input textBefore}
        </div>

        <div class="form-group">
            {label body}
            {input body, "data-final" => "true"}
            {snippet bodyErrorSnippet}
                {var $form = $control['form']}
                <div n:if="$form->hasErrors()" class="mt-2">
                    <p n:foreach="$form['body']->errors as $error" class="alert alert-danger border-0">
                        {$error}
                    </p>
                </div>
            {/snippet}
        </div>

        <div class="form-group">
            {label textAfter}
            {input textAfter}
        </div>

        <div class="form-group">
            {label result}
            {input result}
        </div>

        <div class="form-group">
            {label difficulty}
            {input difficulty}
            {snippet difficultyErrorSnippet}
                {var $form = $control['form']}
                <div n:if="$form->hasErrors()" class="mt-2">
                    <p n:foreach="$form['difficulty']->errors as $error" class="alert alert-danger border-0">
                        {$error}
                    </p>
                </div>
            {/snippet}
        </div>

        {foreach $problemTypes as $typeKey => $type}

            {dump $type}

            <div class="form-group type-wrapper" id="type-wrapper-{$typeKey}">

                {foreach $condByProblemTypes[$typeKey] as $condKey => $cond}
                    {dump $cond}
                    {var $id = $cond->getId()}
                    <div class="form-group cond-wrapper" id="cond-wrapper-{$id}">
                        {label condition_$id}
                        {input condition_$id, "data-key" => $id, "data-static" => "true"}
                    </div>
                {/foreach}

            </div>

        {/foreach}

    </div>

{/form}