{layout '@modal.latte'}

{block content}
    <div class="modal-body {ifset $bodyStyle}{$bodyStyle}{/ifset}">
        {block modalBody}{/block}
    </div>
    <div class="modal-footer {ifset $footerStyle}{$footerStyle}{/ifset}">
        {block modalFooter}{/block}
    </div>
{/block}