<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="{$labelItem}" aria-hidden="true" id="{$id}" data-show="{if $flashes}true{else}false{/if}">
    <div class="modal-dialog modal-{$size}">
        <div class="modal-content">
            {block content}{/block}
        </div>
    </div>
</div>