<header id="header-bar">
    <div class="header-bar-content">
        <a href="#" id="sidebar-collapse" class="font-weight-lighter">
            <i class="fas fa-bars"></i>
        </a>
        <div id="header-bar-right">
            <div class="btn-group">
                {if $user->isInRole('teacher') || $user->isInRole('admin')}
                    {if $adminModule}
                        <a href={plink :Front:Homepage:default} class="admin mr-3" title="Cvičebnice">
                            <i class="fas fa-square-root-alt"></i>
                        </a>
                        {else}
                        <a href={plink :Admin:Homepage:default} class="admin mr-3" title="Administrace">
                            <i class="fas fa-cog"></i>
                        </a>
                    {/if}
                {/if}
            </div>
            <div class="btn-group">
                <a href="#" class="user" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user"></i>
                </a>
                <div class="dropdown-menu">
                    <h6 class="dropdown-header">{$user->getIdentity()->username}</h6>
                    <h6 class="dropdown-header">{$user->getIdentity()->roleLabel}</h6>
                    <div class="dropdown-divider"></div>
                    {if $adminModule}
                        <a href={plink :Admin:Sign:in do => logout} class="dropdown-item">Odhlásit</a>
                        {else}
                        <a href={plink :Front:Sign:in do => logout} class="dropdown-item">Odhlásit</a>
                    {/if}
                </div>
            </div>
        </div>
    </div>
</header>