<h3>Skupiny</h3>
<p>Skupiny představují nižší jednotku pro strukturování uživatelů. Skupina musí být přiřazena do superskupiny.</p>
<p>Na základě skupin je možné nastavovat přístupová práva k tématům úloh.</p>