<h3>Uživatelé</h3>
<p>Uživatelské účty představují jednotku, pomocí které se uživatelé mohou přihlašovat do systému.</p>
<p>Každý uživatel má právě jednu roli a musí být umístěn v alespoň jedné skupině.</p>