<h3>Superskupiny</h3>
<p>Superskupiny představují vyšší jednotku pro strukturování uživatelů. Do jedné superskupiny lze přiřazovat více skupin.</p>
<p>Na základě superskupin je možné nastavovat přístupová práva ke kategoriím úloh.</p>