<h3>Nastavení oprávnění k úlohám</h3>
<p>Oprávnění k úlohám je umožněno na úrovni témat a lze udělat jak skupinám, tak superskupinám. V případě udělení oprávnění superskupiny dojde k udělení daného oprávnění všem skupinám v dané superskupině.</p>