<h3>Nastavení</h3>
<p>Tato sekce obsahuje nastavení systému.</p>

<p>Dostupná nastavení:</p>
<ul>
    <li>Oprávnění skupin k úlohám</li>
    <li>Oprávnění superskupin k úlohám</li>
    <li>Nastavení hesla</li>
    <li>Nastavení šablony testů</li>
</ul>