/*
    COLORS
*/

$bodyBgColor: #eef5f9;
$blueColor: #2962ff;
$lightGreyColor: #d6d8d9;
$darkColor: #3e5569;
$lightColor: hsla(0,0%,100%,.8);

/*
    BREAKPOINTS
 */

$breakpointLg: 960px;
$breakpointSidebar: 600px;