{dump $item}

{if !$item->is_used}
    <a href={plink Logo:default do => delete, logoId => $item->logo_id} class="btn btn-danger btn-sm ajax" title="Odstranit">
        <i class="fa fa-trash"></i>
    </a>
{/if}