{dump $item}

{if !$item->isUsed()}
    <a href={plink Logo:default do => delete, logoId => $item->getId()} class="btn btn-danger btn-sm ajax" title="Odstranit">
        <i class="fa fa-trash"></i>
    </a>
{/if}