{import 'default.latte'}

{block headingFirstLink}
    <li class="breadcrumb-item">
        <a n:href="default">{include headingFirst}</a>
    </li>
{/block}

{block headingSecond}
    Šablona {$id}
{/block}

{block headingSecondLink}
    <li class="breadcrumb-item font-weight-bold active">
        {include headingSecond}
    </li>
{/block}

{block content}
    {control problemTemplateEditForm}
{/block}