<div class="card-body col-md-12 tex2jax_ignore" n:snippetArea="testCreateFormSnippet">

    {form form}

        <div class="card card-shadow border-light mb-5">

            <div class="card-header">
                <h4>Varianty</h4>
            </div>

            <div class="card-body">

                <div class="d-flex justify-content-center mb-2 mt-2">
                    <div class="form-group col-12">
                        {label variant}
                        {input variant}
                    </div>
                </div>

            </div>

        </div>

        <div class="card card-shadow border-light mb-5">

            <div class="card-header mb-3">
                <h4>Hlavička</h4>
            </div>

            <div class="card-body mb-3">

                <div class="form-group col-12 mb-5">

                    {label logo}
                    {input logo, class => 'hidden'}

                    {control logoDragAndDrop}

                    {snippet logoErrorSnippet}
                        {var $form = $control['form']}
                        <div n:if="$form->hasErrors()" class="mt-2">
                            <p n:foreach="$form['logo']->errors as $error" class="alert alert-danger border-0 alert-dismissible fade show" role="alert">
                                {$error}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </p>
                        </div>
                    {/snippet}

                </div>

                {*<div class="accordion mt-2 mb-5" id="logo-accordion">*}

                    {*{if $logos}*}

                        {*<div id="logo-drop-area" class="border mb-5">*}

                        {*</div>*}

                        {*<ul id="logos-list" class="border">*}

                            {*<li n:foreach="$logos as $logo">*}
                                    {*<img class="img-fluid img-thumbnail rounded logo-img" alt="{$basePath}{$logo}"*}
                                         {*src="{$basePath}{$logo->getPath()}" data-logo-id="{$logo->getId()}" data-logo-label="{$logo->getLabel()}"*}
                                         {*width="200px"*}
                                    {*>*}
                            {*</li>*}

                        {*</ul>*}

                        {*<div class="col-12" n:foreach="$logos as $logo">*}

                            {*<div class="card mb-2">*}

                                {*<div class="card-header heading-test-logo pt-0 pr-0 pb-0 pl-0"*}
                                     {*id="heading-logo-{$logo->getId()}"*}
                                     {*data-toggle="collapse" data-target="#logo-{$logo->getId()}"*}
                                     {*aria-expanded="false" aria-controls="logo-{$logo->getId()}">*}
                                    {*<h5 class="mb-0">*}
                                        {*<button type="button"*}
                                                {*class="d-lg-flex justify-content-between pt-3 pb-3 col-12 btn"*}
                                                {*data-logo-id="{$logo->getId()}"*}
                                        {*>*}
                                            {*{$logo->getLabel()}*}
                                            {*<i class="fas fa-chevron-down"*}
                                               {*id="logo-{$logo->getId()}-chevron-down"></i>*}
                                            {*<i class="fas fa-chevron-up d-none"*}
                                               {*id="logo-{$logo->getId()}-chevron-up"></i>*}
                                        {*</button>*}
                                    {*</h5>*}
                                {*</div>*}

                                {*<div id="logo-{$logo->getId()}"*}
                                     {*class="collapse"*}
                                     {*aria-labelledby="heading-logo-{$logo->getId()}"*}
                                     {*data-parent="#logo-accordion"*}
                                {*>*}
                                    {*<div class="card-body d-flex justify-content-center">*}
                                        {*<div class="col-10">*}
                                            {*<img class="img-fluid rounded logo-img" alt="{$basePath}{$logo}"*}
                                                 {*src="{$basePath}{$logo->getPath()}" data-logo-id="{$logo->getId()}" data-logo-label="{$logo->getLabel()}"*}
                                                 {*data-toggle="collapse" data-target="#logo-{$logo->getId()}"*}
                                                 {*aria-expanded="false" aria-controls="logo-{$logo->getId()}">*}
                                        {*</div>*}
                                    {*</div>*}
                                {*</div>*}

                            {*</div>*}

                        {*</div>*}

                        {*{else}*}

                        {*<p class="text-center mt-5 text-muted">*}
                            {*Nejsou k dispozici žádná loga. <br/>*}
                            {*Pro přidání přejděte do sekce <a href="{plink :Admin:Logo:default}">Loga</a>.*}
                        {*</p>*}

                    {*{/if}*}

                {*</div>*}

                <div class="col-12 pt-4">

                    <div class="row d-flex justify-content-between mb-4">

                        <div class="form-group col-md-6">
                            {label groups}
                            {input groups}
                            {snippet groupsErrorSnippet}
                                {var $form = $control['form']}
                                <div n:if="$form->hasErrors()" class="mt-2">
                                    <p n:foreach="$form['groups']->errors as $error" class="alert alert-danger border-0 alert-dismissible fade show" role="alert">
                                        {$error}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </p>
                                </div>
                            {/snippet}
                        </div>

                        <div class="form-group col-md-6">
                            {label testTerm}
                            {input testTerm}
                            {snippet testTermErrorSnippet}
                                {var $form = $control['form']}
                                <div n:if="$form->hasErrors()" class="mt-2">
                                    <p n:foreach="$form['testTerm']->errors as $error" class="alert alert-danger border-0 alert-dismissible fade show" role="alert">
                                        {$error}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </p>
                                </div>
                            {/snippet}
                        </div>

                    </div>

                    <div class="row d-flex justify-content-between">

                        <div class="form-group col-md-6 md-3">
                            {label schoolYear}
                            {input schoolYear}
                            {snippet schoolYearErrorSnippet}
                                {var $form = $control['form']}
                                <div n:if="$form->hasErrors()" class="mt-2">
                                    <p n:foreach="$form['schoolYear']->errors as $error" class="alert alert-danger border-0 alert-dismissible fade show" role="alert">
                                        {$error}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </p>
                                </div>
                            {/snippet}
                        </div>

                        <div class="form-group col-md-6 md-3">
                            {label testNumber}
                            {input testNumber}
                            {snippet testNumberErrorSnippet}
                                {var $form = $control['form']}
                                <div n:if="$form->hasErrors()" class="mt-2">
                                    <p n:foreach="$form['testNumber']->errors as $error" class="alert alert-danger border-0 alert-dismissible fade show" role="alert">
                                        {$error}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </p>
                                </div>
                            {/snippet}
                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div class="card card-shadow border-light mb-4">

            <h4 class="card-header">Úvod</h4>

            <div class="card-body mb-3">

                <div class="form-group mt-3 mb-3">
                    {label introductionText}
                    {input introductionText}
                </div>

            </div>

        </div>

        {for $i = 0; $i < $maxProblems; $i++}

            {if $i === 0}

                <div id="problem-{$i}">

                    <div class="card card-shadow border-light mb-4">

                        <h4 class="card-header">Úloha č. {$i+1}</h4>

                        <div class="card-body mb-3">

                            <div>

                                <div class="form-group mt-3 mb-3">
                                    {label 'is_template_'.$i}
                                    {input 'is_template_'.$i}
                                </div>

                                <div class="form-group mt-3 mb-3">
                                    {label 'problem_type_id_'.$i}
                                    {input 'problem_type_id_'.$i}
                                </div>

                                <div class="form-group mt-3 mb-3">
                                    {label 'difficulty_id_'.$i}
                                    {input 'difficulty_id_'.$i}
                                </div>

                                <div class="form-group mt-3 mb-3">
                                    {label 'sub_category_id_' . $i}
                                    {input 'sub_category_id_' . $i}
                                </div>

                                {foreach $problemConditionTypes as $problemConditionType}
                                    <div class="form-group mt-3 mb-3 hidden condition-type-id" id="condition-type-id-{$problemConditionType->getId()}-{$i}">
                                        {label 'condition_type_id_' . $problemConditionType->getId() . '_' . $i}
                                        {input 'condition_type_id_' . $problemConditionType->getId() . '_' . $i}
                                    </div>
                                {/foreach}

                                <div n:snippet="snippetProblem-{$i}" class="form-group mt-3 mb-3">

                                    {label 'problem_' . $i}
                                    {input 'problem_' . $i, class => 'form-control filter problem-select'}

                                    {control problemStack$i}

                                </div>

                                <div class="form-group custom-control custom-checkbox">
                                    <input n:name="newpage_$i" type="checkbox" class="custom-control-input" id="newpage-{$i}">
                                    <label n:name="newpage_$i" for="newpage-{$i}" class="custom-control-label"/>
                                </div>

                            </div>

                        </div>

                    </div>

                    <button type="button" class="col-12 btn btn-success btn-add mb-2" id="btn-add-{$i}"
                            data-problem-id="{$i}">
                        <i class="fas fa-plus" data-problem-id="{$i}"></i>
                    </button>

                </div>

            {else}

                <div class="hidden" id="problem-{$i}">

                    <div class="card card-shadow border-light mb-4" id="problem-{$i}">

                        <h4 class="card-header">Úloha č. {$i+1}</h4>

                        <div class="card-body">

                            <div>

                                <div class="form-group mt-3 mb-3">
                                    {label 'is_template_' . $i}
                                    {input 'is_template_' . $i}
                                </div>

                                <div class="form-group mt-3 mb-3">
                                    {label 'problem_type_id_' . $i}
                                    {input 'problem_type_id_' . $i}
                                </div>

                                <div class="form-group mt-3 mb-3">
                                    {label 'difficulty_id_' . $i}
                                    {input 'difficulty_id_' . $i}
                                </div>

                                <div class="form-group mt-3 mb-3">
                                    {label "sub_category_id_" . $i}
                                    {input "sub_category_id_" . $i}
                                </div>

                                {foreach $problemConditionTypes as $problemConditionType}
                                    <div class="form-group mt-3 mb-3 hidden condition-type-id" id="condition-type-id-{$problemConditionType->getId()}-{$i}">
                                        {label 'condition_type_id_' . $problemConditionType->getId() . '_' . $i}
                                        {input 'condition_type_id_' . $problemConditionType->getId() . '_' . $i}
                                    </div>
                                {/foreach}

                                <div n:snippet="snippetProblem-{$i}" class="form-group mt-3 mb-3">

                                    {label 'problem_' . $i}
                                    {input 'problem_' . $i, class => 'form-control filter problem-select'}

                                    {control problemStack$i}

                                </div>

                                <div class="form-group custom-control custom-checkbox">
                                    <input n:name="newpage_$i" type="checkbox" class="custom-control-input" id="newpage-{$i}">
                                    <label n:name="newpage_$i" for="newpage-{$i}" class="custom-control-label"/>
                                </div>

                            </div>

                        </div>

                    </div>

                    <button type="button" class="btn col-12 btn-success btn-add mb-2" id="btn-add-{$i}"
                            data-problem-id="{$i}">
                        <i class="fas fa-plus" data-problem-id="{$i}"></i>
                    </button>

                    <button type="button" class="btn col-12 btn-danger btn-remove mb-4" id="btn-remove-{$i}"
                            data-problem-id="{$i}">
                        <i class="fas fa-minus" data-problem-id="{$i}"></i>
                    </button>

                </div>

            {/if}
        {/for}

        {snippet flashesSnippet}
            <div n:foreach="$flashes as $flash" class="col-12 flash alert alert-{$flash->type} alert-dismissible fade show border-0">
                {$flash->message}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {/snippet}

        <div class="form-group">
            {input submit}
        </div>

    {/form}

    <a href="{plink :Admin:Test:default}" class="btn btn-secondary col-12">Zpět</a>

</div>