<a class="btn btn-primary btn-sm edit-button" title="Upravit"
   href="{plink Category:edit
            category_id => $item->category_id,
        }">
    <i class="fas fa-edit"></i>
    {dump $item}
</a>