{if $logos}

    <div id="logo-drop-area" class="d-flex justify-content-center align-items-center flex-wrap mb-4 p-4 border">
        <div class="w-100">
            <p class="text-center text-muted" id="drop-area-placeholder">
                Tažením do této oblasti či kliknutím na jedno z dostupných log proveďte výběr loga.
            </p>
        </div>
    </div>

    <p>Dostupná loga</p>

    <ul id="logos-list" class="d-flex justify-content-center justify-content-center align-items-center flex-wrap p-4 list-unstyled border">

        <li n:foreach="$logos as $logo" class="d-inline-block my-3 mx-2">
            {if $logo->isPdf()}
                <div class="pdf-ui-wrapper test-logo" data-logo-id="{$logo->getId()}" data-logo-label="{$logo->getLabel()}">
                    <div class="pdf-ui-action-bar" title="Zvolit logo">
                        <i class="fas fa-hand-pointer fa-lg"></i>
                    </div>
                    <embed class="embed-responsive-item" src="{$basePath}{$logo->getPath()}#view=FitH" type="application/pdf" width="300">
                </div>
                {else}
                <img class="img-fluid logo-img test-logo" alt="{$basePath}{$logo}"
                     src="{$basePath}{$logo->getPath()}" data-logo-id="{$logo->getId()}" data-logo-label="{$logo->getLabel()}"
                     width="300px" title="Zvolit logo"
                >
            {/if}
        </li>

    </ul>

{else}

    <p class="text-center mt-5 text-muted">
        Nejsou k dispozici žádná loga. <br/>
        Pro přidání přejděte do sekce <a href="{plink :Teacher:Logo:default}">Loga</a>.
    </p>

{/if}