<nav id="sidebar" class="scrollbar scrollbar-primary">
    <div id="jquery-accordion-menu" class="jquery-accordion-menu">
        <header class="jquery-accordion-menu-header d-flex justify-content-between">
            {if $presenter->isModule('Teacher')}
                <a href={plink :Teacher:Homepage:default}>EDOMP: Administrace</a>
                {else}
                <a href={plink :Student:Homepage:default}>EDOMP</a>
            {/if}
            <div class="pr-4" id="sidebar-close">
                <i class="fas fa-times"></i>
            </div>
        </header>
        <ul class="clearfix mb-5 pb-4">
            <li class="nav-small-cap">
                <a href="javascript:void(0)" class="disabled">
                    <i class="fas fa-ellipsis-h mr-2"></i> PŘEHLED
                </a>
            </li>

            <li n:class="$presenter->isLinkCurrent('Homepage:*') ? active">
                {if $presenter->isModule('Teacher')}
                    <a href={plink :Teacher:Homepage:default}>
                        <i class="fas fa-home mr-2"></i> Domů
                    </a>
                    {else}
                    <a href={plink :Student:Homepage:default}>
                        <i class="fas fa-home mr-2"></i> Domů
                    </a>
                {/if}
            </li>

            {if $presenter->isModule('Teacher')}

                <li class="nav-small-cap">
                    <a href="javascript:void(0)" class="disabled">
                        <i class="fas fa-ellipsis-h mr-2"></i> ÚLOHY
                    </a>
                </li>

                <li n:class="$presenter->isProblemTemplatePresenter() ? active">
                    <a href="javascript:void(0)"
                            n:class="$presenter->isLinkCurrent('LinearEqTemplate:*') ||
                                     $presenter->isLinkCurrent('QuadraticEqTemplate:*') ||
                                     $presenter->isLinkCurrent('ArithmeticSeqTemplate:*') ||
                                     $presenter->isLinkCurrent('GeometricSeqTemplate:*')
                                     ? submenu-indicator-minus">
                        <i class="fas fa-file mr-3"></i>Šablony
                    </a>
                    <ul class="submenu" {if !$presenter->isProblemTemplatePresenter()} style="display: none;" {/if}>
                        <li n:class="$presenter->isLinkCurrent('LinearEqTemplate:*') ? active">
                            <a href={plink :Teacher:LinearEqTemplate:default}>Lineární rovnice</a>
                        </li>
                        <li n:class="$presenter->isLinkCurrent('QuadraticEqTemplate:*') ? active">
                            <a href={plink :Teacher:QuadraticEqTemplate:default}>Kvadratické rovnice</a>
                        </li>
                        <li n:class="$presenter->isLinkCurrent('ArithmeticSeqTemplate:*') ? active">
                            <a href={plink :Teacher:ArithmeticSeqTemplate:default}>Aritmetické posloupnosti</a>
                        </li>
                        <li n:class="$presenter->isLinkCurrent('GeometricSeqTemplate:*') ? active">
                            <a href={plink :Teacher:GeometricSeqTemplate:default}>Geometrické posloupnosti</a>
                        </li>
                    </ul>
                </li>

                <li n:class="$presenter->isLinkCurrent('ProblemFinal:*') ? active">
                    <a href={plink :Teacher:ProblemFinal:default}>
                        <i class="fas fa-calculator mr-2"></i> Příklady
                    </a>
                </li>
                <li n:class="$presenter->isLinkCurrent('SubTheme:*') ? active">
                    <a href={plink :Teacher:SubTheme:default}>
                        <i class="fas fa-folder-open mr-2"></i> Podtémata
                    </a>
                </li>
                <li n:class="$presenter->isLinkCurrent('Theme:*') ? active">
                    <a href={plink :Teacher:Theme:default}>
                        <i class="fas fa-archive mr-2"></i> Témata
                    </a>
                </li>
                <li class="nav-small-cap">
                    <a href="javascript:void(0)" class="disabled">
                        <i class="fas fa-ellipsis-h mr-2"></i> TESTY
                    </a>
                </li>

                <li n:class="$presenter->isLinkCurrent('Test:*') ? active">
                    <a href={plink :Teacher:Test:default}>
                        <i class="fas fa-file-alt mr-2"></i> Testy
                    </a>
                </li>

                <li class="nav-small-cap">
                    <a href="javascript:void(0)" class="disabled">
                        <i class="fas fa-ellipsis-h mr-2"></i> UŽIVATELÉ
                    </a>
                </li>

                <li n:class="$presenter->isLinkCurrent('User:*') ? active">
                    <a href={plink :Teacher:User:default}>
                        <i class="fas fa-user mr-2"></i> Uživatelé
                    </a>
                </li>
                <li n:class="$presenter->isLinkCurrent('Group:*') ? active">
                    <a href={plink :Teacher:Group:default}>
                        <i class="fas fa-user-friends mr-2"></i> Skupiny
                    </a>
                </li>
                <li n:class="$presenter->isLinkCurrent('SuperGroup:*') ? active">
                    <a href={plink :Teacher:SuperGroup:default}>
                        <i class="fas fa-users mr-2"></i> Superskupiny
                    </a>
                </li>

                <li class="nav-small-cap">
                    <a href="javascript:void(0)" class="disabled">
                        <i class="fas fa-ellipsis-h mr-2"></i> SPRÁVA
                    </a>
                </li>

                <li n:class="$presenter->isLinkCurrent('Logo:*') ? active">
                    <a href={plink :Teacher:Logo:default}>
                        <i class="fas fa-images mr-2"></i> Loga
                    </a>
                </li>

                <li n:class="$presenter->isLinkCurrent('Settings:*') ? active">
                    <a href={plink :Teacher:Settings:default}>
                        <i class="fas fa-cog mr-2"></i>Nastavení
                    </a>
                </li>

                {else}

                <li class="nav-small-cap">
                    <a href="javascript:void(0)" class="disabled">
                        <i class="fas fa-ellipsis-h mr-2"></i> CVIČEBNICE
                    </a>
                </li>

                <li n:class="$presenter->isLinkCurrent('Theme:*') ? active">
                    <a href="javascript:void(0)" class="submenu-indicator-minus">
                        <i class="fas fa-archive mr-3"></i>Sbírky
                    </a>
                    <ul class="submenu">
                        {foreach $user->identity->themes as $key => $theme}
                            <li n:class="$presenter->isLinkCurrent('Theme:default', $key) ? active">
                                <a href={plink Theme:default 'id' => $key, 'clear_filters' => true}>{$theme}</a>
                            </li>
                        {/foreach}
                    </ul>
                </li>

                <li class="nav-small-cap">
                    <a href="javascript:void(0)" class="disabled">
                        <i class="fas fa-ellipsis-h mr-2"></i> SPRÁVA
                    </a>
                </li>

                <li n:class="$presenter->isLinkCurrent('Settings:*') ? active">
                    <a href={plink :Student:Settings:default}>
                        <i class="fas fa-cog mr-2"></i>Nastavení
                    </a>
                </li>

            {/if}

        </ul>
        <footer class="jquery-accordion-menu-footer">FIT ČVUT @ 2019</footer>
    </div>
</nav>