{import 'default.latte'}

{block headingFirstLink}
    <li class="breadcrumb-item">
        <a n:href="Settings:default">{include headingFirst}</a>
    </li>
{/block}

{block headingSecond}
    Nastavení šablony testů
{/block}

{block headingSecondLink}
    <li class="breadcrumb-item font-weight-bold active">
        {include headingSecond}
    </li>
{/block}

{block content}
    {control testTemplateForm}
{/block}