/*
    COLORS
*/

//$bodyBgColor: #eefdff;
$bodyBgColor: #F9F9F9;
$blueColor: #2962ff;
$blueMiddleColor: #689DF6;
$blueLightColor: #95BAF9;
//$blueLightColor: #C4D9FD;
$lightGreyColor: #d6d8d9;
$darkColor: #3e5569;
$lightColor: hsla(0,0%,100%,.8);

/*
    BREAKPOINTS
 */

$breakpointLg: 960px;
$breakpointSidebar: 600px;

/*
    Z-INDEXES CONSTANTS
 */

$z-index-highest: 10000;